.forecast_container {
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  padding: 10px 10px 30px;
  border-radius: 10px;
  margin: 20px 50px;
}

.forecast_title {
  font-size: 1.6rem;
  margin-bottom: 15px;
}

.forecast_weekday {
  font-size: 1.1rem;
  font-weight: bold;
}

.forecast_days {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: capitalize;
}

.forecast_day {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding: 10px;
}

@media screen and (max-width: 980px) {
  .forecast_days {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media screen and (max-width: 680px) {
  .forecast_days {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .forecast_container {
    margin: 20px 0;
    width: 80%;
  }

  .forecast_days {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
