.today_container {
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 50px;
}

.today_title {
  font-size: 2rem;
}

.today_info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.today_info-sub {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  font-size: 1.2rem;
}

.today_temp {
  font-size: 1.5rem;
  font-weight: bold;
}

.today_description {
  text-transform: capitalize;
}

@media screen and (max-width: 680px) {
  .today_info-sub {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .today_container {
    border-radius: 10px;
    margin: 20px 0;
    width: 80%;
  }
}
