.app {
  text-align: center;
  margin-top: 70px;
}

.app_title {
  color: #fff;
  margin-bottom: 20px;
  font-size: 50px;
}

.app_input {
  border: none;
  width: 30%;
  padding: 10px;
  border-radius: 5px 0 0 5px;
}

.app_button {
  background-color: #ff9800;
  color: #fff;
  border: none;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

@media screen and (max-width: 480px) {
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7rem 0;
  }

  .app_title {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 2rem;
  }

  .app_input {
    width: 80%;
    border-radius: 5px;
    margin-bottom: 0.8rem;
    padding: 20px;
    font-size: 1rem;
  }

  .app_button {
    width: 80%;
    border-radius: 5px;
    font-size: 1rem;
  }
}
