.app {
  text-align: center;
  margin-top: 70px;
}

.app_title {
  color: #fff;
  margin-bottom: 20px;
  font-size: 50px;
}

.app_input {
  border: none;
  width: 30%;
  padding: 10px;
  border-radius: 5px 0 0 5px;
}

.app_button {
  background-color: #ff9800;
  color: #fff;
  border: none;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}
